Repository AGH-Narzedzia-Informatyczne-2023-2024/ProjektRUN-2324, pull requests merged in 2023-11, with the labels that each got.

#8 feat: silnia w Pythonie
  src/main.py
Labels: enhancement

#10 stworzenie folderu python.code i pliku w nim
  python_code/zgadnij_liczbe.py
Labels: documentation, Test_Label_p1

#11 Nowy branch p
  testcode/z1code.py
Labels: Test_Label_p1

#13 Nowy_powazne_branch
  testcode/z1code.py
Labels: Test_Label_p1

#14 5z1811end
  testcode/z1code.py
Labels: Test_Label_p1

#15 6z1811final
  testcode/z1code.py
Labels: Test_Label_p1

#18 Eating #3 - extra information
  python_function/permutacje.py
Labels: help wanted
